.DS_Store
.gradle/
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/sonarlint/
.idea/sonarlint/issuestore/
.idea/modules
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/compiler.xml
/.idea/dictionaries/*.xml
!gradle-wrapper.jar
*.iml
build/
out/
libraries
modules
*.name
*.xml
examples
